<section>
  <table>
    <thead>
      <tr>
        <th>PRODUTO</th>
        <th>VALOR</th>
        <th>%</th>
      </tr>
    </thead>
    <tbody>
      <tr>Ação
        <td>{{ acao }}</td>
        <td>{{ ((acao / todosInvestimentos ) * 100).toFixed(0) }}%</td>
      </tr>
      <tr>CDB
        <td>{{ cdb }}</td>
        <td>{{ ((cdb / todosInvestimentos ) * 100).toFixed(0) }}%</td>
      </tr>
      <tr>CRI / CRA
        <td>{{ cri }}</td>
        <td>{{ ((cri / todosInvestimentos ) * 100).toFixed(0) }}%</td>
      </tr>
      <tr>Debêntures
        <td>{{ debentures }}</td>
        <td>{{ ((debentures / todosInvestimentos ) * 100).toFixed(0) }}%</td>
      </tr>
      <tr>ETFs
        <td>{{ etf }}</td>
        <td>{{ ((etf / todosInvestimentos  ) * 100).toFixed(0) }}%</td>
      </tr>
      <tr>Fundos Imobiliários
        <td>{{ fii }}</td>
        <td>{{ ((fii / todosInvestimentos ) * 100).toFixed(0) }}%</td>
      </tr>
      <tr>Fundos de Investimento
        <td>{{ fundoInvestimento }}</td>
        <td>{{ ((fundoInvestimento / todosInvestimentos  ) * 100).toFixed(0) }}%</td>
      </tr>
      <tr>LF
        <td>{{ lf }}</td>
        <td>{{ ((lf / todosInvestimentos  ) * 100).toFixed(0) }}%</td>
      </tr>
      <tr>LCI / LCA
        <td>{{ lci }}</td>
        <td>{{ ((lci / todosInvestimentos  ) * 100).toFixed(0) }}%</td>
      </tr>
      <tr>Letra de câmbio
        <td>{{ lc }}</td>
        <td>{{ ((lc / todosInvestimentos  ) * 100).toFixed(0) }}%</td>
      </tr>
      <tr>Tesouro Direto
        <td>{{ tesouroDireto }}</td>
        <td>{{ ((tesouroDireto / todosInvestimentos )* 100).toFixed(0) }}%</td>
      </tr>
    </tbody>
  </table> 
</section>