<section>
  <div class="display-h3" *ngIf="this.page === 'cashPurchases'">
    <h3 class="h3-tabela">Total das compras:</h3>
    <h3 class="h3-tabela">{{ calcularCompras() | currency:'BRL':'symbol':'1.2-2' }}</h3>
  </div>
  <div>
    <h3 class="h3-home" *ngIf="this.page === ''">Compras Parceladas</h3>
  </div>
  <table>
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Parcelas</th>
        <th>Valor das parcelas</th>
        <th>Categoria</th>
        <th>Meses</th>
        <th *ngIf="this.page === 'cashPurchases'">Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of compras; let i = index">
        <td>{{ item.descricao }}</td>
        <td>{{ item.valor | currency:'BRL':'symbol':'1.2-2'}}</td>
        <td>{{ item.parcelas }}</td>
        <td>{{ item.valor / item.parcelas | currency:'BRL':'symbol':'1.2-2'}}</td>
        <td>{{ item.categoria }}</td>
        <td class="meses">
          <div class="mes" *ngFor="let parcela of item.meses">{{ parcela }}</div>
        </td>
        <td *ngIf="this.page === 'cashPurchases'">
          <button (click)="removerCompra(i)">
            <mat-icon>delete</mat-icon>  
          </button>
        </td>  
      </tr>
    </tbody>
  </table>
</section>