section {
  position: absolute;
  padding-left: 30px;
  top: 43px;
}

.elemento div {
  padding-top: 10px;
}

.ativo {
  width: 100%;
  left: 265px;
}

.inativo {
  width: 100%;
  left: 80px;
}

.resumo {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.receitasDespesas {
  width: 50%;
}

.parcelasGastos {
  width: 60%;
}

.conta {
  height: 250px;
  // border: 1px solid black;
  width: 580px;
}

.conta .tabela-conta {
  width: 90%;
}

.conta .tabela-conta th,
.conta .tabela-conta td {
  width: 25%; 
}
