<section class="elemento {{ collapsed ? 'ativo' : 'inativo' }}">
  <div style="display: block; border: 5px solid #aabfbf;">
    <div style="display: flex; flex-direction: row; justify-content: space-around;">
      <app-table-my-investments></app-table-my-investments>
      <div class="chart-container" [chart]="chart"></div>
    </div>
    <div>
      <app-table-investments></app-table-investments>
    </div>
  </div>  
  <hr>
  <div>
    <app-form-investments></app-form-investments>
  </div>  
</section>