<section>
  <div *ngIf="message === false">
    <h1>Redefinir senha</h1>
    <form class="login-form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <mat-form-field class="full-width">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="E-mail" formControlName="email">
        <mat-error *ngIf="resetPasswordForm.get('email')!.hasError('required')">E-mail é obrigatório.</mat-error>
        <mat-error *ngIf="resetPasswordForm.get('email')!.hasError('email')">E-mail inválido.</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" class="buttonReset" [disabled]="resetPasswordForm.invalid">Redefinir Senha</button>
    </form>
  </div>
  <div *ngIf="message === true" class="message">
    <p>Instruções para fazer uma nova senha foram enviadas para: {{ resetPasswordForm.get('email')?.value}}
    <p>Verifique sua caixa de entrada, por favor.</p>
    <a [routerLink]="['/']">Voltar para login</a>
  </div>
</section> 
  
