<app-header></app-header>
<app-sidenav></app-sidenav>
<app-routine-planning *ngIf="page === 'routinePlanning'"></app-routine-planning>
<app-habit *ngIf="page === 'habit'"></app-habit>
<app-meal-planner *ngIf="page === 'mealPlanner'"></app-meal-planner>
<app-sleep-diary *ngIf="page === 'sleepDiary'"></app-sleep-diary>
<app-routine *ngIf="page === 'routine'"></app-routine>
<app-priority *ngIf="page === 'priority'"></app-priority>
<app-challenge *ngIf="page === 'challenge'"></app-challenge>
<app-books *ngIf="page === 'books'"></app-books>
<app-films *ngIf="page === 'films'"></app-films>
<app-series *ngIf="page === 'series'"></app-series>
<app-birthdays *ngIf="page === 'birthdays'"></app-birthdays>
<app-doctor *ngIf="page === 'doctor'"></app-doctor>
<app-skincare *ngIf="page === 'skincare'"></app-skincare>
<app-hydration *ngIf="page === 'hydration'"></app-hydration>
<app-exercises *ngIf="page === 'exercises'"></app-exercises>
<app-hair-schedule *ngIf="page === 'hairSchedule'"></app-hair-schedule>
<app-monthly-budget *ngIf="page === 'monthlyBudget'"></app-monthly-budget>
<app-cash-purchases *ngIf="page === 'cashPurchases'"></app-cash-purchases>
<app-spending *ngIf="page === 'spending'"></app-spending>
<app-summary *ngIf="page === 'summary'"></app-summary>
<app-planning *ngIf="page === 'planning'"></app-planning>
<app-house-bills *ngIf="page === 'houseBills'"></app-house-bills>
<app-market *ngIf="page === 'market'"></app-market>