<section class="elemento {{ collapsed ? 'ativo' : 'inativo' }}">
  <div class="totais">
    <table>
      <thead>
        <tr>
          <th>Total das receitas</th>
          <th>Total dos despesas fixas</th>
          <th>Total dos gastos diários</th>
          <th>Total das compras parceladas</th>
          <th>Saldo líquido</th>
        </tr>
      </thead>
      <tbody>
        <td>{{ calcularReceitas() | currency:'BRL':'symbol':'1.2-2' }}</td>
        <td>{{ calcularDespesas() | currency:'BRL':'symbol':'1.2-2' }}</td>
        <td>{{ calcularGastos() | currency:'BRL':'symbol':'1.2-2' }}</td>
        <td>{{ calcularCompras() | currency:'BRL':'symbol':'1.2-2'}}</td>
        <td>{{ calcularSaldo() | currency:'BRL':'symbol':'1.2-2' }}</td>
      </tbody>
    </table>
  </div>
  <div class="tabelas">
    <div class="tabela-ladoA">
      <div>
        <app-tableReceitas></app-tableReceitas>
      </div>
      <div>
        <app-tableDespesas></app-tableDespesas>
      </div>
    </div>
    <div class="tabela-ladoB">
      <div>
        <app-tableCompras></app-tableCompras>
      </div>
      <div>
        <app-tableGastos></app-tableGastos>
      </div>
    </div>
  </div>
</section>
