section {
  position: fixed;
  padding: 0;
  top: 43px;
  background-color: #aabfbf;
  height: 100%;
}

.elemento div {
  padding-top: 10px;
}

.ativo {
  width: 100%;
  left: 265px;
}

.inativo {
  width: 95%;
  left: 80px;
}

.totais {
  width: 100%;
  text-align: center;
}

table {
  width: 90%;
  align-items: center;
  border: 5px solid #aabfbf;
  border-top: none;
  background-color: white;
  height: auto;
  margin-left: 50px;
}

td {
  text-align: center;
}

th {
  border: #aabfbf 1px solid;
  height: 30px;
  background-color: #3d4949;
  color: #fff;
}

.tabelas {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.tabela-ladoA {
  width: 600px;
  margin: 20px;
}

.tabela-ladoA div {
  height: 200px;
  margin-bottom: 10px;
}

.tabela-ladoB div {
  height: 200px;
  margin-bottom: 10px;
}

.tabela-ladoB {
  width: 600px;
  margin: 20px;
}